.button-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    width: 7%;
    outline: none;
    display: flex;
    margin-right:4%;
    cursor: pointer;
    transition: transform 0.7s ease; 
}

.button:hover {
    transform: rotate(360deg);

}